* {
    margin: 0;
    padding: 0;
}

body {
    background: #222;
    color: #fff;
    font-family: system-ui;
}

.crud {
    width: 80%;
    margin: auto;
}

.head {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}

input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: #fff;

}
.price {
    display: flex;
    gap: 10px;
}

input:focus {
    background: #000;
    transform: scale(1.1);
}

#total {
    background: rgb(130, 6, 6);
    padding: 5px 2px;
    border-radius: 5px;
}
#total::before {
    content: 'total';
}

button {
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: #470053;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}
button:hover {
     background: #69087aa3;
     letter-spacing: 1px;
}

.btnSearch {
    display: flex;
    justify-content: space-between;
}

.btnSearch button {
    width: 45%;
}

table {
    width: 100%;
    text-align: center;
    margin: 10px 2px 0;
}
table th {
    text-transform: uppercase;
}

tr, td {
    padding: 5px;
}

